body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.n1{
    display: flex; 
    margin-top: 5vw;
    width: 50vw;
    height: 50vw;
    margin-bottom: 20vw;
    flex-wrap: wrap;
    
}
.s1{
   width: 25%;
   height: 25%;
   font-size: 4vw;

}






.s2{
    width: calc(50vw/4);
    height: 50%;
    font-size: 4vw;
}

.n2{
    display: flex;
    flex-wrap: wrap; 
    width: 50vw;
    height: calc(50vw/4*3)vw;
    margin-bottom: 5vw;
}

.s3{
    height: 50%;
    box-sizing: border-box;
    width: calc(50vw/2);
    
    font-size: 4vw;
    
}

.s4{
    width: calc(50vw/2);
    height: 50%;
    font-size: 4vw;
    
}
